<body>
  <mat-toolbar>
    <button mat-button (click) = "Notes()" >Notes</button>
    <span class="spacer"></span>
    <button *ngIf="(loggedIn | async)" mat-button class="icon login" (click) = "newNote()" >
      <mat-icon>post_add</mat-icon>
    </button>
    <button mat-button class="icon register" (click) = "register()" >
      <mat-icon>person_add</mat-icon>
    </button>
    <button *ngIf="!(loggedIn | async)" mat-button class="icon" (click) = "login()" >
      <mat-icon>login</mat-icon>
    </button>
    <button *ngIf="(loggedIn | async)" mat-button class="icon logout" (click) = "logout()" >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
    <h1 class="box title" >Welcome To Post Board  </h1> 
  <router-outlet></router-outlet>
</body>