.spacer 
    flex: 1 1 auto;
.box 
    display: flex;
    align-items: center;
    justify-content: center;
.login
    background-color: blue
.logout
    background-color: red
.register
    background-color: orange